.deleteBtn {
  width: 100px;
  font-weight: bold;
  padding: 8px 0;
  border: transparent;
  background-color: crimson;
  color: bisque;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.4s;
}

.deleteBtn:hover {
  opacity: 0.7;
}
