.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 50px;
    margin: 50px 100px;
  }
  
  .heading {
    text-align: center;
    font-size: 40px;
    margin: 5px;
    padding-top: 50px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    border: 2px solid #a2798f;
    border-radius: 8px;
    background-color: #ebdada;
    display: flex;
    width: 500px;
    height: 700px;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 20px;
    gap: 30px;
    transition: border 0.4s background-color 0.4s opacity 0.4s;
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    word-wrap: break-word;
    text-align: center;
  }
  
  .card:hover {
    border: 2px solid #900c3f;
    background-color: #d4badb;
    opacity: 0.9;
  }
  
  .btnWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 30px;
  }
  
  .title {
    padding-top: 20px;
  }
  
  .author {
    margin-bottom: 20px;
    margin-top: 30px;
    position: absolute;
    bottom: 100px;
  }
  
  .navigation {
    background-color: lightgray;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 2400px) {
    .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (max-width: 1800px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 1200px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 600px) {
    .card {
      width: 400px;
      height: 600px;
      gap: 10px;
    }
    .image {
      width: 300px;
      height: 300px;
    }
  }
  
  @media (max-width: 450px) {
    .card {
      width: 250px;
      height: 550px;
    }
    .image {
      width: 200px;
      height: 200px;
    }
    .title {
      font-size: 25px;
    }
    .heading {
      font-size: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  