.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.title {
  text-align: center;
  font-size: 30px;
}

.input {
  border: none;
  background-color: #dfdfde;
  padding: 10px;
  border-radius: 8px;
}

.inputTitle {
  width: 300px;
}

.imagePlace {
  width: 320px;
  aspect-ratio: 1 / 1;
  border: 1px dotted red;
  display: flex;
  justify-content: center;
  align-items: center;
}
