.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 70px 0;
}

.welcomeMessage {
  text-align: center;
}

.title {
  font-size: 70px;
  padding: 10px 0;
}

.message {
  font-size: 18px;
  padding: 10px 0;
  line-height: 1.4;
}

.brandName {
  font-size: 24px;
  color: #900c3f;
  font-weight: bolder;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 50px;
  max-width: 900px;
  text-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.readMore {
  width: 110px;
  background-color: transparent;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  color: #8caba8;
  transition: color 0.4s;
}

.readMore:hover {
  color: blueviolet;
}

.tag {
  font-size: 18px;
}

.readMoreBtn {
  background-color: #8caba8;
  font-size: larger;
  width: 120px;
}
