.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: darkslategrey;
  padding: 100px 250px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 30px;
  color: antiquewhite;
}

.input {
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
}
