.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  margin-bottom: 50px;
  background-color: #a2798f;
  color: #dfdfde;
  font-size: 20px;
  transition: font-size 0.4s;

  @media screen and (max-width: 800px) {
    flex-wrap: wrap;
    text-align: center;
    max-width: 800px;
  }
}

.hover:hover {
  font-size: 23px;
}
