.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  background-color: #a2798f;
  color: #dfdfde;
  font-size: 20px;
  transition: font-size 0.4s;
}

@media (max-width: 900px) {
  .navigation {
    flex-wrap: wrap;
    padding: 40px 20px;
  }
}
